body {
  margin: 0;
  height: 100%;
}

.pilk-root {
  font-family: Verdana, Arial;
}

.pilk-root-table {
  border: 0;
  width: 100%;
  border-collapse: collapse;
  max-width: 800px;
}

.pilk-site-header-container {
  background-color: #4e7dd1;
  height: 25px;
}

.pilk-site-header {
  margin: 0;
  color: white;
  text-decoration: none;
  font-size: 14pt;
}

.pilk-site-marquee-container {
  background-image: url("../images/navbar/topgrad.gif");
  border-top: 1px #7795CB solid;
  color: white;
  height: 16px;
}